{% trans_default_domain 'ir_news' %}

<div class="page-header">
    <h1>{{ 'admin.article.list.title'|trans }}</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="{{ path('ir_news_admin_article_new') }}" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus"></i> {{ 'admin.article.action.new'|trans }}
        </a>    
    </div>    
    
    {% if articles|length %}
    <table class="table">      
        <thead>
            <tr>
                <th>{{ 'admin.article.title'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>
                    <div class="pull-right">
                        <a href="{{ path('ir_news_admin_article_show', {'id': article.id}) }}" class="btn btn-default">
                            <i class="glyphicon glyphicon-list"></i>
                        </a>                     
                        <a href="{{ path('ir_news_admin_article_edit', {'id': article.id}) }}" class="btn btn-primary">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a href="{{ path('ir_news_admin_article_delete', {'id': article.id}) }}" class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="panel-body">
        {{ 'admin.article.list.no_results'|trans }}
    </div>    
    {% endif %}
    
    <div class="panel-footer">
        <a href="{{ path('ir_news_admin_article_new') }}" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus"></i> {{ 'admin.article.action.new'|trans }}
        </a>    
    </div>         
</div>