{% trans_default_domain 'ir_news' %}

<div class="page-header">
    <h1>{{ 'admin.article.show.title'|trans }}</h1>
</div>  

<div class="well well-sm">
    <a href="{{ path('ir_news_admin_article_edit', {'id': article.id}) }}" class="btn btn-primary">
        <i class="glyphicon glyphicon-edit"></i> {{ 'admin.article.action.edit'|trans }}
    </a>
    <a href="{{ path('ir_news_admin_article_delete', {'id': article.id}) }}" class="btn btn-danger">
        <i class="glyphicon glyphicon-trash"></i> {{ 'admin.article.action.delete'|trans }}
    </a>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        {{ 'admin.article.show.general_info'|trans }}
    </div>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>{{ 'admin.article.title'|trans }}</td>
                <td>{{ article.title }}</td>        
            </tr>  
            <tr>
                <td>{{ 'admin.article.created_at'|trans }}</td>
                <td>{{ article.createdAt|date }}</td>
            </tr>  
            <tr>
                <td>{{ 'admin.article.updated_at'|trans }}</td>
                <td>{{ article.updatedAt|date }}</td>
            </tr>          
        </tbody>
    </table>
</div>